body {
  margin-top: 200px;
  display: inline;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 2);
  margin-top: -100px;
  margin-bottom: 10px;
}

main {
  width: 900px;
  height: 550px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  border-radius: 10px;
  background-color: rgb(223, 72, 72);
  box-shadow: 0 0 4px rgba(0, 0, 0, 2);
  padding: 0 50px;
}

h1 {
  color: rgb(71, 62, 62);
}

span {
  color: brown;
}

p {
  color: darkcyan;
}

a:hover {
  color: cornflowerblue;
}

.todays-challenge {
  color: goldenrod;
  font-weight: bold;
  font-size: 60px;
}

footer p {
  margin-top: 100px;
}
