body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  color: rgb(83, 75, 75);
}

h1 {
  font-family: "Oswald";
}

p {
  font-family: "Fira Sans";
}

a {
  font-family: "Fira Sans";
  text-decoration: none;
  color: chocolate;
}

a:hover {
  text-decoration: underline;
}
