h1 {
  font-family: "Oswald";
  text-align: center;
  color: cadetblue;
}

p {
  font-family: "Fira Sans";
  text-align: center;
  color: darkcyan;
}

a {
  text-decoration: none;
  color: chocolate;
}

a:hover {
  color: cornflowerblue;
  text-decoration: underline;
}

.todays-challenge {
  color: goldenrod;
  font-weight: bold;
  font-size: 80px;
}
